.StatisticsWrapper{
    display: inline-block;
    border: 1px solid grey;
}
.stat-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.stat-item{
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid grey;
    padding: 5px;
}
.label, .percentage{
    width: 100%;
    display: block;
 }