@import-normalize .App {
  text-align: center;
}

.App-header {
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
}
